*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
header {
    display: flex;
    width: 100%;
    height: auto;
    background-color: black;
    align-items: center;
    flex-direction: row;

}

.logo-container{
    width: 410px;
    height: auto;
    position: relative;
    margin: 10px;
}

.logo-container img{
    width: 400px;
    height: auto;
}

header h1 {
    margin-left: 20px;
    color: white;
    font-size: 35px;
}

.navbar-container{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-end;
    width: 100%;
}
.navbar{
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}
.navbar a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-left: 15px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(231, 231, 231, 0.733);
}

footer {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: black;
    position: relative;
    bottom: 0;

}

#facebook{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    width: 80%;
    height: 80%;
    border-radius: 20px;
}

#comentario-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#comentario-container label{
    font-size: 50px;
    margin: 10px;
    color: rgb(219, 219, 219);
    text-decoration:double;

}

#comentario-container #pensamento{
    display: flex;
    flex-direction: column;
    background-color: rgb(63, 63, 63);
    height: 80px;
    border-radius: 10px;
    border: 1px solid rgb(109, 109, 109);
    width: 70%;
    margin: 20px;
    font-size: 20px;
    padding: 5px;
    color: #b4b4b4;
}

#containerbtn{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

#containerbtn button{
    width: 70%;
    height: 80px;
    border-radius: 5px;
    transition: all;
    color: white;
    background-color: rgb(5, 57, 126);
    border: none;
    font-size: 120%;
    margin-bottom: 50PX;
}
#containerbtn button:hover{
transform: 1.1s;
}

#post{
    width: 400PX;
    height: auto;
    background-color: rgb(39, 39, 39);
    border-radius: 10px;
    color: #b4b4b4;
    padding: 20px;
    margin: 20px;
}





