body{
    background-color: rgb(26, 26, 26);
    text-align: center;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif; 
}

#logosousamedia{
    position: fixed;
    top: 0;
    float: left;
    margin-top: 1px;
    left: 10px;
    width: 180px;
    height: auto;
}

p{
    font-size: 40px;
}

#btngithub{
    text-align: center;
    display: inline-block;
    width: 120px;
    height: 50px;
    font-size: 35px;
    margin-bottom: 1px;
}

.hero{
    height: 100vh;
    display: flex;
    align-items: center;
}

.atividades{
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
}