* {
  margin: 0;
  padding: 0;
}

body {
  color: #ffffff;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  /* Texto branco para contraste */
  font-family: "Arial", sans-serif;
  /* Fonte limpa e legível */
  background:url("../images/fundo_site.png");
  background-size: cover; /* Faz com que a imagem cubra todo o elemento */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita repetição da imagem */
  background-attachment: fixed;
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.titulo {
  text-decoration: none;
  color: white;
  margin: 1% 3%;
}

header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  width: 15%;
  justify-content: space-around;
  margin-right: 1%;
}

li a {
  text-decoration: none;
  color: white;
  transition: 5ms;
  transition: color 0.5s ease, border-bottom 0.3s ease;
}

li a:hover {
  transform: scale(1.5);
  color: #6811cc;
  margin-bottom: 3px;
}

footer {
  position: absolute;
  display: block;
  bottom: 0;
  background-color: rgb(29, 31, 41);
  width: 100%;
}
